<html>
    <head>
        <meta http-equiv="refresh" content="15; url=/">
    </head>
    <body style="font-size:64px">
        {{if .Up}}
            {{if .Started}}
            うごいています<br>
            <a href="/stop">とめる</a>
            {{else}}
            とまろうとしています<br>
            しばらくまってください<br>
            {{end}}
        {{else}}
            {{if .Started}}
            うごきだしています<br>
            しばらくまってください<br>
            {{else}}
            とまっています<br>
            <a href="/start">うごかす</a>
            {{end}}
        {{end}}
    </body>
</html>
